Flask==2.0.1
Flask-Cors==3.0.10
Flask-Limiter==2.6.3
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.46
Flask-Talisman==1.0.0
Werkzeug==2.0.1
gunicorn==20.1.0
requests==2.26.0
beautifulsoup4==4.10.0
anthropic>=0.7.0
pydantic>=2.5.2,<3.0.0
openai>=1.0.0,<2.0.0
google-generativeai==0.3.2
marshmallow==3.14.1
bleach==4.1.0
python-dotenv==0.19.2
psycopg2-binary==2.9.1
mistralai==0.0.12
gTTS
cryptography==3.4.7
PyJWT==2.3.0 
google-cloud-bigquery
flask-migrate==4.0.5
